<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.spring.core.Book" name="java-book" c:name="Java Book" c:price="100">
    </bean>

    <bean class="org.spring.core.Book" name="python-book" c:name="Python Book" c:price="50">
    </bean>

    <bean class="org.spring.core.Course" name="course-java">
        <constructor-arg value="Java"/>
        <constructor-arg name="books">
            <list>
                <ref bean="java-book"/>
            </list>
        </constructor-arg>
    </bean>

    <bean class="org.spring.core.Course" name="course-python">
        <constructor-arg value="Python"/>
        <constructor-arg name="books">
            <list>
                <ref bean="python-book"/>
            </list>
        </constructor-arg>
    </bean>

    <bean class="org.spring.core.Student" name="student1">
        <property name="id" value="1"/>
        <property name="name" value="Student"/>
        <property name="address" value="Delhi"/>
        <property name="marks">
            <list>
                <value>12</value>
                <value>13</value>
            </list>
        </property>
        <property name="courses">
            <list>
                <ref bean="course-java"/>
                <ref bean="course-python"/>
            </list>
        </property>
    </bean>
</beans>