<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.spring.core.Course" name="course-java">
        <property name="name" value="Java"/>
    </bean>

    <bean class="org.spring.core.Course" name="course-python">
        <property name="name" value="Python"/>
    </bean>

    <bean class="org.spring.core.Student" name="student1">
        <property name="id" value="1"/>
        <property name="name" value="Student"/>
        <property name="address" value="Delhi"/>
        <property name="marks">
            <list>
                <value>12</value>
                <value>13</value>
            </list>
        </property>
        <property name="courses">
            <list>
                <ref bean="course-java"/>
                <ref bean="course-python"/>
            </list>
        </property>
    </bean>
</beans>